@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn-hamburguer{
    display: none;
}

*{
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1000px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        height: 100vh;
        width: 100%;
        background: #fff;
    }

    .hamburguer{
        display: none;
    }

    .menu-nav{
        height: 65px;
        width: 100%;
        color: aliceblue;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: "Poppins", sans-serif;
        background: #004173;
    }

    .seletores{
        position: relative;
        list-style: none;
        display: flex;
        size: 2vh;
        right: 0.5rem;
        color: aliceblue;
        gap: 0.8rem;
    }

    .seletores li{
        border-right: solid 1.8px #fff;
    }

    .seletores li a{
        text-decoration: none;
        color: aliceblue;
        font-size: 14px;
        margin-right: 0.4rem;
        margin-left: 0;
        font-weight: 600;
    }

    .logo{
        font-size: 1.7rem;
        position: absolute;
        left: 1rem;
    }

    .gustavo{
        margin-top: 0.22rem;
    }

    .duarte{
        margin-top: -1rem;
        margin-left: 0.5rem;
    }
    /*Sobre*/
    .corpo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 6px 6px 0;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        background: lightgreen;
        border-radius: 10px;
    }

    .nome-inf{
        text-align: center;
        color: lightgreen;
        font-family: "Poppins", sans-serif;
        font-size: 3.4rem;
    }

    .corpo h5{
        margin-top: 1rem;
        text-align: center;
        color: #fff;
    }

    .corpo .qualificacoes li{
        text-align: center;
        list-style: circle;
        font-size: 1.5rem;
        font-weight: 280;
        color: #fff;
    }

    .corpo .qualificacoes{
        margin-bottom: 1rem;
    }

    .h6{
        font-weight: 700;
        color: #fff;
        margin-top: 1rem;
    }

    .li-program{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
        justify-content: center;
        text-align: center;
        margin-top: 0.5rem;
    }

    .corpo1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 6px 6px 0;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        background: lightgreen;
        border-radius: 10px;
    }

    /*Foto do perfil*/
    .config-img{
        height: 23rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .imagem-corpo{
        justify-content: center;
        display: flex;
        background: lightgreen;
        height: 17rem;
        width: 17rem;
        align-items: center;
        border-radius: 50%;
    }

    .imagem-corpo:hover{
        background: lightgreen;
        height: 19rem;
        width: 19rem;
        transition: 1s ease;
    }

    .img-perfil{
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
    }

    /*botão hamburguer*/
    .btn-hamburguer{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .btn-hb {
        background: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        top: 2%;
        cursor: pointer;
        box-shadow: 0 0 0 0 #04cc1f;
        transition: box-shadow 1s ease-in-out;
    }

    .hamburgue{
        position: relative;
        display: block;
        background: black;
        width: 25px;
        height: 2px;
        top: 49%;
        right: -23%;
        transition: .5s ease-in-out;
    }

    .hamburgue:before, .hamburgue:after {
        background: black;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburgue:before{
        top: -8px;
    }

    .hamburgue:after{
        bottom: -8px;
    }
    
    input{
        display: none;
    }

    input:checked ~ label .btn-hb{
        background: lightgreen;
        box-shadow: 24px;
    }

    input:checked ~ label .hamburgue{
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburgue:after{
        transform: rotate(90deg);
        top: 50%;
    }

    input:checked ~ label .hamburgue::before{
        transform: rotate(90deg);
        top: 50%;
    }

    /*PROJETOS*/
    .nome-projetos{
        padding-top: 2rem;
        text-align: center;
        color: lightgreen;
        font-weight: 900;
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        background: #90ee90;
        height: 17rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 6px 6px 0;
        border-radius: 10px;
    }

    .projetos-ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        gap: 2rem;
    }

    .projetos-ul-li{
        display: flex;
        flex-direction: column;
        background: rgb(255, 255, 255);
        height: 11rem;
        width: 14rem;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }

    .projetos-ul-li p{
        margin-top: 0.3rem;
        width: 30px;
        height: 30px;
        border: 3px solid #fff;
        border-radius: 50%;
        border-right-color: lightgreen;
        animation: spin 1s ease infinite;
    }

    @keyframes spin {
        100%{
            transform: rotate(360deg);
        }
    }

    /*Contatos*/
    .nome-contatos{
        padding-top: 2rem;
        text-align: center;
        color: lightgreen;
        font-weight: 900;
    }

    .contatos{
        display: flex;
        flex-wrap: wrap;
        background: lightgreen;
        height: 15rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 6px 6px 0;
        border-radius: 10px;
    }

    .instagram,
    .github,
    .linkedin{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }

    .icon-instagram label,
    .icon-github label,
    .icon-linkedin label{
        margin: 0.5rem;
    }

    .icon-instagram,
    .icon-github,
    .icon-linkedin{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem;
    }

    /*FIM*/
    .fim{
        margin-top: 2rem;
        height: 3rem;
        width: 100hv;
        background: #99ee99;
        display: flex;justify-content: center;
        align-items: center;
    }

    .fim label{
        color: #fff;
        border: none;
        font-size: 0.8rem;
        border-bottom: 1px solid rgb(255, 255, 255);
    }

}

@media(max-width: 500px){
    .menu{
        height: 65px;
        width: 100%;
        color: aliceblue;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: "Poppins", sans-serif;
        background: lightgreen;
    }

    .gustavo{
        margin-top: 0.22rem;
    }

    .duarte{
        margin-top: -1rem;
        margin-left: 0.5rem;
    }

    /*PROJETOS*/
    .nome-projetos{
        padding-top: 2rem;
        text-align: center;
        color: lightgreen;
        font-weight: 900;
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        background: lightgreen;
        height: 30rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 6px 6px 0;
        border-radius: 10px;
    }

    .projetos-ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        gap: 2rem;
    }

    .projetos-ul-li{
        display: flex;
        flex-direction: column;
        background: rgb(255, 255, 255);
        height: 12rem;
        width: 16rem;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }

    .projetos-ul-li p{
        margin-top: 0.3rem;
        width: 30px;
        height: 30px;
        border: 3px solid #fff;
        border-radius: 50%;
        border-right-color: lightgreen;
        animation: spin 1s ease infinite;
    }

    @keyframes spin {
        100%{
            transform: rotate(360deg);
        }
    }

    /*Contatos*/
    .contatos{
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
}
